version: '3'

services:

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  airflow-webserver:
    image: apache/airflow:2.8.1
    depends_on:
      - postgres
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
      PYTHONPATH: /opt/airflow

    volumes:
      # DAGs
      - ../../airflow/dags:/opt/airflow/dags

      # Airflow scripts (health checks, loaders)
      - ../../airflow/scripts:/opt/airflow/scripts

      # Datasets (raw + processed CSVs)
      - ../../datasets:/opt/airflow/datasets

      # SQL files (schema + tables)
      - ../../sql:/opt/airflow/sql
    ports:
      - "8080:8080"
    command: webserver

  airflow-scheduler:
    image: apache/airflow:2.8.1
    depends_on:
      - airflow-webserver
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      PYTHONPATH: /opt/airflow
    volumes:
      # DAGs
      - ../../airflow/dags:/opt/airflow/dags

      # Airflow scripts
      - ../../airflow/scripts:/opt/airflow/scripts

      # Datasets
      - ../../datasets:/opt/airflow/datasets

      # SQL files
      - ../../sql:/opt/airflow/sql
    command: scheduler
volumes:
  postgres_data: